* {
  box-sizing: border-box;
  margin:0;
  padding:0:;
}
h1 {
  margin-bottom: 30px;
  text-align: center;
  color: #0E6655;
}

  p {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  background-color:#1F618D;
  height: 50%;
  width: 100%;
}

.box{
  margin-top: 0;
  margin-right: 0;
  margin-left: 70%;
  border: 1px solid black;
  width:30%;
  height:25px;
  float:right; 
  text-align: center;
}
#chicken{
 
  background-color:#F39C12;
}
#beef{
 
  background-color:#F39C12;
}
#sushi{
 
  background-color:#F39C12;
}
.row{
  width: 100%;
}
@media (min-width: 992px) {
  .col-lg-4 
  {
    float: left;
    padding: 10px;
    width: 33.3%;
  }
}
    
 
@media (min-width: 768px) and (max-width: 991px){
   .col-md-6
  {
    float: left;
    padding: 10px;
    width:50%;
    
  }
}
  

@media (max-width: 768px){
  .col-sm-12 
  {
    float: left;
    padding: 10px;
    width:100%;
    
  }
}
 